{% extends "base.html" %}

{% block content %}

	<div class="container-fluid bg">
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-12"></div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<form class="row g-3 form-container">
					<div class="col-12">
					    <!-- <label class="form-label">First Name</label> -->
					    <input type="text" class="form-control" id="inputfname" placeholder="First Name...">
					    <br>
				  	</div>
				  	<div class="col-12">
					   <!--  <label class="form-label">Last Name</label> -->
					    <input type="text" class="form-control" id="inputlname" placeholder="Last Name...">
					    <br>
				  	</div>
				  	<div class="col-12">
					    <!-- <label class="form-label">First Name</label> -->
					    <input type="text" class="form-control" id="inputfname" placeholder="Email...">
					    <br>
				  	</div>
				  	<div class="col-12">
					   <!--  <label class="form-label">Last Name</label> -->
					    <input type="password" class="form-control" id="inputlname" placeholder="Password...">
					    <br>
				  	</div>
				  	<div class="col-12">
					    <!-- <label class="form-label">First Name</label> -->
					    <input type="password" class="form-control" id="inputfname" placeholder="Confirm Password...">
					    <br>
				  	</div>
				  	<div class="col-12">
					    <!-- <label class="form-label">Topics you can help with</label> -->
					    <input type="text" class="form-control" id="inputtopics" placeholder=" Enter topics you can help with...	">
					    <br>
				  	</div>
				  	<div class="col-12">
				    	<button type="submit" class="btn btn-primary">Sign in</button>
				  	</div>
				</div>
				</form>
			</div>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-12"></div>
	</div>
{% endblock content %}